doctype html
head
    title Forgot your password,
   
body
    
    h6 Hi #{firstname},
    p There was a request to change your password!
    p If you did not make this request then please ignore this email.
    p Otherwise, please click this link to change your password: 
    p #{url}
            